/* line 7, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/her.scss */
body div, body div * {
  padding: 10px;
}

/* line 11, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/her.scss */
#film {
  padding: 20px;
  display: inline-block;
  width: 100%;
}
/* line 15, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/her.scss */
#film div {
  display: inline-block;
  float: left;
  width: calc(50% - 26px);
}
/* line 20, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/her.scss */
#film img {
  height: 400px;
  padding: 0;
  float: left;
}

/* line 27, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/her.scss */
#bin img {
  height: 260px;
}

/* line 31, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/her.scss */
#bin {
  padding: 10px;
  display: inline-block;
  width: 100%;
}
/* line 35, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/her.scss */
#bin div {
  padding: 10px;
  display: inline-block;
  float: left;
}
/* line 39, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/her.scss */
#bin div * {
  padding: 0;
}

/* line 45, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/her.scss */
#search {
  display: inline-block;
  width: 100%;
}
/* line 48, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/her.scss */
#search .tag {
  background: #b9090b;
  float: left;
  margin: 10px;
}
/* line 1, /Users/Jack/RoR/CaD/music/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/Jack/RoR/CaD/music/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/Jack/RoR/CaD/music/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/Jack/RoR/CaD/music/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /Users/Jack/RoR/CaD/music/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /Users/Jack/RoR/CaD/music/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/Jack/RoR/CaD/music/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /Users/Jack/RoR/CaD/music/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /Users/Jack/RoR/CaD/music/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /Users/Jack/RoR/CaD/music/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /Users/Jack/RoR/CaD/music/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /Users/Jack/RoR/CaD/music/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300,300italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300,200,100);
/* line 21, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
* {
  font-family: Open Sans;
  font-weight: 600;
  color: #fff;
}

/* line 27, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
body {
  background: #1a1a1a;
  margin: 0;
}
/* line 30, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
body * {
  margin: 0;
}
/* line 33, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
body a {
  float: right;
  font-weight: bold;
}

/* line 39, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
#head {
  background: #fff;
  display: inline-block;
  width: 100%;
}
/* line 43, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
#head * {
  padding: 20px;
  height: 16px;
  display: inline-block;
}
/* line 48, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
#head img {
  float: left;
}

/* line 53, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
#disp {
  margin-left: 80px;
  margin-top: 16px;
  background: #fff;
  display: inline-block;
  height: 100%;
  width: calc(100% - 160px);
}
/* line 60, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
#disp * {
  padding: 10px;
  font-size: 16px;
}
/* line 64, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
#disp #film {
  margin: 0;
  padding: 0;
  float: left;
  width: calc(100% - 160px);
}
/* line 70, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
#disp #attr {
  padding: 0;
  display: inline-block;
  height: 100%;
  float: left;
  width: 160px;
}
/* line 76, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
#disp #attr * {
  font-size: 12px;
}
/* line 79, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
#disp #attr img {
  height: 10px;
  float: left;
  padding: 2px;
}
/* line 84, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
#disp #attr #title {
  font-weight: bold;
}

/* line 90, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
#gal {
  display: inline-block;
  float: left;
  padding: 10px;
}
/* line 94, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
#gal img {
  height: 80px;
  padding: 10px;
  float: left;
  cursor: pointer;
}

/* line 103, /Users/Jack/RoR/CaD/netflix/app/assets/stylesheets/application.scss */
.film h5 {
  margin-left: 10px;
  color: #fff;
}
